.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option input {
  margin-right: 8px;
}
