.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c8dbe5;
  
}

.question {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option input {
  margin-right: 8px;
}

.backgroundImage {
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

