.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
}

.button {
  font-size: 2em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.select {
  font-size: 0.9em;
  
}

.label {
  font-size: 3em;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.background{
  background-color: #c8dbe5;
}
